<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <button class="mobile-btn-close" type="button" data-menu-close>
      <svg class="mobile-close-icon" width="32" height="32">
        <use href="img/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-nav-list">
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="#how-it-works" data-menu-close
          >How It Works</a
        >
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="#vegetables" data-menu-close
          >Vegetables</a
        >
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="#reviews" data-menu-close>Reviews</a>
      </li>
    </ul>
    <a class="mobile-shop-link" href="#your-order" data-menu-close>Shop now</a>
  </div>
</div>
